* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
    background-color:#4834d4;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 420px;
    width: 300px;
    background-color: #dcdde1;
    padding: 10px;
}

.calculator-body, .display, button {
    border: none;
    border-radius: 3px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    height: 110px;
    width: 290px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #f5f6fa;
    border-bottom: 3px solid #fbc531;
}

.display-text {
    color: #2c2e30;
    font-size: 40px;
    font-weight: 700;
}

.calc-display {
    color: #6c7075;
    font-size: 14px;
    padding-top: 20px;
}

.button-elements {
    height: 288px;
    width: 290px;
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.numberBtns {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 4px;
}

.numbers, .equals {
    font-size: 16px;
    width: 65px;
}

.numbers, .equals, .operators, .delete {
    background-color: #f5f6fa;
}

.operatorBtns {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.operators, .delete {
    font-size: 16px;
    width: 70px;
    flex: 1;
}

#equals {
    color: #2c2e30;
    /* background-color: #fbc531; */
}

#equals:hover {
   background-color: #ffcd44; 
}

button:hover {
    background-color: #ecf0f1;
}